/**
 * Set radios be rendered horizontally.
 */
.section-tl .standard .form-item .form-radios .form-item,
.block-node_tasklist .standard .form-item .form-radios .form-item {
  clear: none;
  float: left; /* LTR */
}
/**
 * Reset the parent item.
 */
.section-tl .standard .form-item,
.block-node_tasklist .standard .form-item {
  clear: both;
  float: none;
}
.section-tl .standard .form-item .form-radios,
.block-node_tasklist .standard .form-item .form-radios {
  clear: both;
  display: block;
  float: none;
}
/**
 * Prevent accidental deletion.
 */
.section-tl #edit-preview,
.section-tl #edit-delete,
.block-node_tasklist #edit-preview,
.block-node_tasklist #edit-delete {
  display: none;
}
